pip>=20.3.4;python_version<"3.6"
pip>=21.3.1;python_version>="3.6"
selenium==3.141.0;python_version<"3.7"
selenium==4.0.0;python_version>="3.7"
beautifulsoup4==4.9.3;python_version<"3.5"
beautifulsoup4==4.10.0;python_version>="3.5"
python-dotenv==0.19.2;python_version>="3.5"
